name: CI

on: [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.failure-allowed }}
    strategy:
      matrix:
        ruby-version: ['2.7.8', '3.0.6', '3.1.4', '3.2.3', '3.3.0']
        failure-allowed: [false]
        include:
        - ruby-version: 'head'
          failure-allowed: true
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run specs
      run: |
        ruby -v
        bundle exec rake
